.header {
    left: 0;
    top: 0;
    z-index: 40;
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    background-color: #171717;
    color: white;
}

.sticky {
    position: fixed;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.headerInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.headerLogo {
    display: block;
}

.menu {
    display: flex;
    align-items: center;
}

.menuToggle {
    margin-right: -15px;
    opacity: 0;
}

.menuToggle:checked ~ .menuButton > span {
    transform: rotate(45deg);
}

.menuToggle:checked ~ .menuButton > span::before {
    top: 0;
    transform: rotate(0);
}

.menuToggle:checked ~ .menuButton > span::after {
    top: 0;
    transform: rotate(90deg);
}

.menuButton {
    display: flex;
    align-items: center;

    width: 26px;
    height: 26px;

    cursor: pointer;
    z-index: 1;
}

.menuButton > span,
.menuButton > span::before,
.menuButton > span::after {
    display: block;
    position: absolute;

    width: 26px;
    height: 2px;

    background-color: #616161;

    transition-duration: .25s;
}

.menuButton > span::before {
    content: '';
    top: -8px;
}

.menuButton > span::after {
    content: '';
    top: 8px;
}

.menuToggle:checked ~ .navbar {
    visibility: visible;
    opacity: 1;
}

.navList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.navItem {
    margin-left: 40px;
}

@media screen and (max-width: 768px) {

    .navbar {
        background-color: white;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease;
        top: 100%;
        right: 0;
        width: 250px;
        padding: 20px;
    }

    .navList {
        flex-direction: column;
    }

    .navItem {
        position: relative;
        margin-left: 0;
    }
}

.navLink {
    display: block;
    padding: 10px 0;
    color: #333;
    text-decoration: none;
}

.active {
    color: #ff5722;
}